/* .walli {
    margin-top: "-12px" ;
    background-color: "red"
  }
  .card{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 20px;
    margin-bottom: 1rem;
  } */