.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.tweetBox__input > textarea  {
  text-decoration: solid;
  min-width: 400px;
  max-width: 450px;
  min-height: 20px;
  flex: 1;
  margin-left: 20px;
  font-size: 17px;
  border: none;
  outline: none;
  
}



.Icon{
  display:flex;
  cursor: pointer;
   
}
.Icon > div {
  padding: 0 12px;
  
}
.tweetBox__tweetButton {
  background-color: #00BFFF !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 120px;
  height: 40px !important;
  margin-top: -33px !important;
  margin-left: auto !important;
 
}