
.tweetBox > form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.tweetBox__input{
  display: flex;
  flex-direction: row;
}
textarea{
  resize:none;
}
textarea::placeholder{
  font-size: 17px;
  font-weight: 500;
}
.text{
  width: -webkit-fill-available;
  border: none;
  outline: none;
  overflow: hidden;
  overflow-wrap: break-word;
  
}

.divtext{
  display: flex;
  height: auto;
  margin-top: 15px;
  margin-bottom: 50px;
  width: 100%;
}

.Btns_icon_tweet{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}
.chaipas{
  margin-right: 10px;
}
.chaipas2{
  margin-left: 10px;
}
.Icon{
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-left: 35px;
 
   
}
/* .Icon > div {
  padding: 0 12px;
  
} */
.tweetBox__tweetButton {
  background-color: #19A8D9 !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;

 
}

.boximg{

  padding-left: 25px;
  padding-right: 17px;
  padding-bottom: 15px;
  position: relative;
  width: 90%;
  margin-bottom: 30px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

.boxclose{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 30px;
  top: 7px;
  height: 30px;
  width: 30px;
  background-color: #000;
  border-radius: 100px

}

.postimg{
  width: auto;
  height: 200px;
  border-radius: 12px;
  object-fit: contain;
}


