

  @media screen and (min-width: 600px) and (max-width:1600px) {
    .Main{
        display: flex;
        justify-content: space-between;
        margin:0px;
    }

    .Right_Sidebar_Area{
      width: 50%;
      display: grid;
      height: 100%;
      align-items: start;
      justify-content: space-around;
      justify-items: end;
    }
    .Left_Sidebar_Area{
        width: 50%;
        height: 100%;
        margin-left: 50px;
    }
    .MuiTabs-flexContainer{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .slogan p{
      margin-top: 5px;
      color:#696969;
      text-align: center;
      font-size: 50px;
      font-style: italic;
      font-family: Foco;  
      margin: auto;
      }
      .image > img{
        width:80%;
        margin-left: 50px;
      }
      .starling > img{
        width:118px;
        height:118px;
        object-fit: fill;
        display: block;
        margin: auto;
        margin-bottom: 60px;
       }
  }

  @media screen and (max-width:600px)  {
    .Main{
      display: flex;
      margin: 0px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
    }
    .MuiTabs-flexContainer{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .Right_Sidebar_Area{
        width: 100%;
        margin: auto;
    }
    .Left_Sidebar_Area{
      height: 20%;
      width: 100%;
      
      margin-left: 5rem;
        
    }
   .image{
     display: none;
   }
   .slogan p{
    margin-top: 5px;
    color:#696969;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family: Foco;  
    margin: auto;
    }
   .starling > img{
    width:118px;
    height:118px;
    object-fit: fill;
    display: block;
    margin: auto;
   }
   .affich1{
    display: flex;
    flex-direction: column;
    
    height: 100%;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
   }
   .div1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 100%;
  }
  }
  
  /* @media screen and (min-width:480px)and (max-width:720px)  {
    .Main{
      display: flex;
      margin: 0px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
  }
  .form{
    background-color: #fff;
    border: none;
    display: flex;
    padding: 60px 40px;
    align-items: center;
    margin-left: 0px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .affich1{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
   }
   .div1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 100%;
  }
  .image{
    display: none;
  }
  .starling > img{
    width: 8rem;
    height: 8rem;
    object-fit: fill;
    display: block;
    margin: auto;
    
  }
  .form{
    background-color: #fff;
    border: none;
    display: flex;
    padding: 60px 40px;
    align-items: center;
    margin-left: 0px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .Right_Sidebar_Area{
    width: 100%;
    margin: auto;
}
.Left_Sidebar_Area{
  height: 20%;
  width: 100%;
  
  margin-left: 5rem;
}
  .MuiTabs-flexContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slogan p{
    margin-top: 5px;
    color:#696969;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family: Foco;  
    margin: auto;
    margin-bottom: 30px
    
    }
  } */
  /***********************************Formulaire connexion*****************************/
  .form{
    background-color: #fff; 
    border: none;
    padding: 60px 40px;
    display: flex;
    margin-left: 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .input{  
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
    position: relative;
  }
  
  .input input {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    padding-left: 40px;
    margin-bottom: 2rem;
    border:none;
    box-shadow:  #19a8d973 0px 1px 2px;
    background-color: transparent;
    border-radius: 20px;
  }
  .icon{
    position: absolute;
    left: 0;
    top: 0px;
    padding: 5px 8px;
  }
  .icons{
    position: absolute;
    left: 0;
    top: 4.5rem;
    padding: 5px 8px;
    
  }
  .btns{
    /* width: 40%;
   
    line-height: 40px; */
    background: #19A8d9;
    border: 1px solid #19A8d9;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    display: block;
    font-size: 16px;
    margin-left: 0rem;
     height: 35px;
    
  }
  .mdp{
    font-size: 14px;
    margin-top: 1rem;
   text-align: center;
   color:#19A8d9 ;
   font-weight: bold;
  }
  .fotter{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
  }
  /************************************************************************/

  /********************************************Formulaire d'inscription********************/
.form-wrapper{
   background-color: #fff;
    border: none;
    /* width: 350px; */
    /* height: 23rem; */
    padding: 60px 40px;
    margin-top: 0px;
    margin-left: 3px;
}

.input{  
  width: 18rem;
  margin-bottom: 20px;
  position: relative;
}
.fullname{
  display: flex;
  justify-content: space-between;
}
.name input {
  width: 9rem;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 1rem;
  background-color: transparent;
  border:none;
  box-shadow:  #19a8d973 0px 1px 2px;
  border-radius: 20px;
}
.prénom input {
  width: 9rem;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 1rem;
  background-color: transparent;
  border:none;
  box-shadow:  #19a8d973 0px 1px 4px;
  border-radius: 20px;
}
.pseudo input {
  width: 90%;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 1rem;
  background-color: transparent;
  border:none;
  box-shadow:  #19a8d973 0px 1px 4px;
  border-radius: 20px;
}
.email input {
  width: 90%;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 1rem;
  background-color: transparent;
  border:none;
  box-shadow:  #19a8d973 0px 1px 4px;
  border-radius: 20px;
}
.password input {
  width: 90%;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 1rem;
  background-color: transparent;
  border:none;
  box-shadow:  #19a8d973 0px 1px 4px;
  border-radius: 20px;
}
.password2 input {
  width: 90%;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 2px solid #3498db;
  border:none;
  box-shadow:  #19A8d9 0px 1px 4px;
  border-radius: 20px;
}

.Genre{
  display: block;
  font-size: 16px;
  font-weight: bold;
}
.radio{
  display: flex;
  justify-content: space-between;
}
.Femme{
  font-size: 16px;
  margin-left: 2.5rem;
}
.Homme{
  font-size: 16px;
  margin-left: 2.5rem;
}
.border{
  margin-top: 0;
  border:none;
  box-shadow:  #19a8d973 0px 1px 4px;
  border-radius: 20px;
  width: 10rem;
}
.submit{
  width: 40%;
  height: 40px;
  line-height: 40px;
  background: #19A8d9;
  border: 1px solid #19A8d9;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  display: block;
  font-size: 16px;
  margin-left: 7rem;
  margin-top: 1rem;
}

/********/

.error{
  display: block;
  color: #e74c3c;
  font-weight: bold;
  font-size: 11px;
  padding-top: 3px;
  margin-top: 0px;
  

}
/**********************************************************************************************************/
  /*************************************************Navigation*********************************************************/
  nav{
    margin-top: 50px;
    margin-bottom: 0;
    height: 50px;
  }
  .liste{
   color: #19A8d9;
   cursor: pointer;
   font-size: 16px;
   height: 100%;
   display: inline-block;
   justify-content: center;
   align-items: center;
   position: relative;
   margin-right: 0px;
   margin-left: 30px;
   padding: 15px;
   background: transparent;
   padding-right: 20px;
   padding-left: 20px;
   border-left: transparent;
   border-right: transparent;
   border-top: transparent;
  }
 
 


/* html{
    font-size: 92.5%;
    box-sizing: border-box;
  }
  body{
    margin: 0%;
    font: 1rem helvetica;
    height: 100vh;  
  }
  .App{
    display: grid;
    width: 100%;
    flex-wrap: wrap;
  }
  .Main{
    display: flex;
    justify-content: space-between;
    margin:0px; 
  }
    /* Works on Firefox */
 /* *{
  scrollbar-width: 7px;
 } */

/* Works on Chrome, Edge, and Safari */
 /* *::-webkit-scrollbar {
  width: 7px;
  } */

/* *::-webkit-scrollbar-thumb {
  background-color:rgba(0, 0, 0, 0.1) ;
  border-radius: 20px;
}   */ 

/**********************************************************************************/

  /* .Right_Sidebar_Area{
    width: 40%;
    display: grid;
    height: 42.2rem;
    justify-content: center;
  }

  @media screen and (min-width: 688px) and (max-width:992px) {
    .Main{
        display: inline-block;
        justify-content: space-between;
        margin:0px;
    }
    .Right_Sidebar_Area{
        width: 100%;
        margin: auto;
    }
    .Left_Sidebar_Area{
        width: 100%;
        height: 42.2rem;
        margin:auto;

    }
    .image{
      width: 500px;
      
      margin: auto;
    }
    .slogan p{
      font-size: 1rem;
    }
  }

  @media screen and (max-width:688px) {
    .Main{
        display: inline-block;
        justify-content: space-between;
        margin:0px;
    }
    .Right_Sidebar_Area{
        width: 100%;
        margin: auto;
    }
    .Left_Sidebar_Area{
        width: 100%;
        height: 42.2rem;
        margin-left: 5rem;
    }
    .image{
      width: 500px;      
      margin: auto;
    }
  } */

  /***********************************Formulaire connexion*****************************/
  /*.form{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0, 0,0, 0.3);
     border: none;
    width: 300px;
    height: 20rem;
    padding: 60px 40px;
    margin-top: 45px;
    margin-left: 0px;
  }
  .input{  
    width: 18rem;
    margin-bottom: 20px;
    margin-left: 0;
    position: relative;
  }
  
  .input input {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    padding-left: 40px;
    margin-bottom: 2rem;
    border:none;
    box-shadow:  #19A8d9 0px 1px 2px;
    background-color: transparent;
    border-radius: 20px;
  }
  .icon{
    position: absolute;
    left: 0;
    top: 0px;
    padding: 5px 8px;
  }
  .icons{
    position: absolute;
    left: 0;
    top: 4.5rem;
    padding: 5px 8px;
    
  }
  .btns{
    width: 40%;
    height: 40px;
    line-height: 40px;
    background: #19A8d9;
    border: 1px solid #19A8d9;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    display: block;
    font-size: 16px;
    margin-left: 0rem;
    
  }
  .mdp{
    font-size: 14px;
    margin-top: 1rem;
   text-align: center;
   color:#19A8d9 ;
   font-weight: bold;
  }
  .fotter{
    display: flex;
    justify-content: space-between;
  }  */
  /************************************************************************/

  /********************************************Formulaire d'inscription********************/
/* .form-wrapper{
   background-color: #fff;
    border: none;
    width: 350px;
    height: 23rem;
    padding: 60px 40px;
    margin-top: 0px;
    margin-left: 3px;
}

.input{  
  width: 18rem;
  margin-bottom: 20px;
  position: relative;
}
.fullname{
  display: flex;
  justify-content: space-between;
}
.name input {
  width: 9rem;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 1rem;
  background-color: transparent;
  border:none;
  box-shadow:  #19A8d9 0px 1px 2px;
  border-radius: 20px;
}
.prénom input {
  width: 9rem;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 1rem;
  background-color: transparent;
  border:none;
  box-shadow:  #19A8d9 0px 1px 4px;
  border-radius: 20px;
}
.pseudo input {
  width: 9rem;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 1rem;
  background-color: transparent;
  border:none;
  box-shadow:  #19A8d9 0px 1px 4px;
  border-radius: 20px;
}
.email input {
  width: 90%;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 1rem;
  background-color: transparent;
  border:none;
  box-shadow:  #19A8d9 0px 1px 4px;
  border-radius: 20px;
}
.password input {
  width: 90%;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 1rem;
  background-color: transparent;
  border:none;
  box-shadow:  #19A8d9 0px 1px 4px;
  border-radius: 20px;
}
.password2 input {
  width: 90%;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 2px solid #3498db;
  border:none;
  box-shadow:  #19A8d9 0px 1px 4px;
  border-radius: 20px;
}

.Genre{
  display: block;
  font-size: 16px;
  font-weight: bold;
}
.radio{
  display: flex;
  justify-content: space-between;
}
.Femme{
  font-size: 16px;
  margin-left: 2.5rem;
}
.Homme{
  font-size: 16px;
  margin-left: 2.5rem;
}
.border{
  margin-top: 0;
  border:none;
  box-shadow:  #19A8d9 0px 1px 4px;
  border-radius: 20px;
  width: 10rem;
}
.submit{
  width: 40%;
  height: 40px;
  line-height: 40px;
  background: #19A8d9;
  border: 1px solid #19A8d9;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  display: block;
  font-size: 16px;
  margin-left: 7rem;
  margin-top: 1rem;
} */

/********/

/* .error{
  display: block;
  color: #e74c3c;
  font-weight: bold;
  font-size: 11px;
  padding-top: 3px;
  margin-top: 0px;
  

} */
/**********************************************************************************************************/
  /*************************************************Navigation*********************************************************/
  /* nav{
    margin-top: 50px;
    margin-bottom: 0;
    height: 50px;
  }
  .liste{
   color: #19A8d9;
   cursor: pointer;
   font-size: 16px;
   height: 100%;
   display: inline-block;
   justify-content: center;
   align-items: center;
   position: relative;
   margin-right: 0px;
   margin-left: 30px;
   padding: 15px;
   background: transparent;
   padding-right: 20px;
   padding-left: 20px;
   border-left: transparent;
   border-right: transparent;
   border-top: transparent;
  } */
 
 
  /**********************************************************************************************************/
  
  /* .Left_Sidebar_Area{
    width: 60%;
    height: 42.2rem;
    justify-content: flex-start;
  }
  .slogan p{
  margin-top: 5px;
  color:#696969;
  text-align: center;
  font-size: 55px;
  font-style: italic;
  font-family: Foco;  
  margin: auto;
  } */